<html>
    <head>
            {% if title %}
                <title>{{title}} -  Microblog</title>
            {% else %}
                <title>Welcome to lewis page</title>
            {% endif %}
    </head>
    <body>
	    <div>Microblog:
		    <a href="{{ url_for("index") }}">Home</a>
		    {% if current_user.is_anonymous %}
		    <a href="{{ url_for("login") }}">Login</a>
		    {% else %}
		    <a href="{{ url_for('user',username=current_user.username) }}">Profile</a>
		    <a href="{{ url_for("logout") }}">Logout</a>
		    {% endif %}
	    </div>
	    {# url_for("abc"),其中的abc是对应的routes.py中的视图函数名 #}
	    <hr>
	    {% with messages = get_flashed_messages() %}
            {% if messages %}
	    <ul>
		    {% for message in messages %}
		    <li>{{ message }}</li>
		    {% endfor %}
            </ul>
	    {% endif %}
	    {% endwith %}
            {% block content %}
	    {% endblock %}
    <body>
</html>


